
<a href="/registrations/new" class="btn btn-primary mb-4">Create Registration</a>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>User Name</th>
      <th>Conference Title</th>
    </tr>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration[:user_name] %></td>
        <td><%= registration[:conference_title] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
